p {
  font-size: 18px;
  line-height: 30px;

  a {
    color: #5f727f;
    font-weight: bold;
  }
}

.team-person {
  .team-person-hover {
    .team-person-info {
      margin: 30px 0;
    }
  }

  &:hover {
    .team-person-hover {
      background-color: transparent !important;
    }
  }
}

a[title="Contact Belux"] {
  color: #ffffff !important;
  background: #1a1a3a;
  border-radius: 50%;

  i {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      font-family: "Font Awesome 5 Free";
      // font-weight: 900;
      font-size: 0.65em;
      content: "\f0e0" !important;
    }
  }

  &:hover {
    background-color: #0288d1 !important;

    i {
      color: #ffffff !important;
    }
  }
}

.custom-background {
  .fullwidth-block-background {
    background-size: 100% 150px !important;
  }
}

// Team person
.gem-team {
  &.gem-team-style-5 {
    display: flex;
    flex-wrap: wrap;

    .team-person {
      height: 100%;

      .team-person-hover {
        height: 100%;
        display: flex;
        flex-direction: column;

        .team-person-image {
          margin: 0 auto;
        }

        .team-person-socials {
          &.socials {
            display: flex;
            flex: 1;
            align-items: flex-end;
            justify-content: center;
          }
        }
      }

      &:hover {
        margin-top: 0;
        margin-bottom: 0;

        .team-person-hover {
          padding: 47px 30px;
        }
      }
    }
  }
}