.wpcf7 {
  .custom-contact-form {
    .gem-button-container {
      input[type="submit"] {
        border: solid 2px #1a1a3a;
        border-radius: 0 !important;
        color: #1a1a3a;

        &:hover {
          background: #ffcd05;
          border-color: #ffcd05;
        }
      }
    }
  }
}
