.fact-check-metabox {
  .fact-check-metabox__top {
    .copyright {
    }

    .authors {
    }
  }

  .fact-check-metabox__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
    border: solid thin rgba($color: gray, $alpha: 0.1);

    .fact-check-img-wrapper {
      width: auto;
      height: 75px;
      padding: 0 20px;

      img {
        width: auto;
        height: 75px;
        object-fit: cover;
        object-position: center center;
      }
    }

    .fact-check-text {
      font-family: inherit;
    }
  }
}

.d-none {
  display: none !important;
}
