.custom-one-post {
  a {
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  .gem-button {
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-post {
  .gem-textbox {
    position: relative;
  }

  .custom-category {
    position: absolute;
    top: 10px;
    left: 10px;

    a {
      font-size: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .custom-title {
    a {
      span {
        transition: all 0.3s;
      }

      &:hover {
        span {
          color: #ffcd05 !important;
        }
      }
    }
  }
}

// .style-new {
//   .gem-featured-posts-slide-item {
//     position: relative;
//     padding: 40px 0;
//     height: 100%;
//     justify-content: flex-end;
//     align-items: center;

//     .gem-featured-post-meta-categories {
//       position: absolute;
//       top: 40px;
//       span {
//         background-color: #ffcd05 !important;
//         color: #1a1a3a !important;
//         // a {
//         font-size: 16px;
//         line-height: 32px;
//         font-weight: bold;
//         // }
//       }
//     }

//     .gem-featured-post-title {
//       background-color: rgba($color: #000000, $alpha: 0.9);
//       padding: 10px;
//     }
//   }
// }
.style-new {
  article {
    background-size: contain !important;
    // background-color: rgba($color: #000000, $alpha: 0.05);
    background-color: #f0f3f2;

    .gem-featured-posts-slide-item {
      position: relative;
      padding: 40px 0;
      height: 100%;
      justify-content: flex-end;
      align-items: center;

      .gem-featured-post-meta-categories {
        position: absolute;
        top: 40px;
        left: 0;

        span {
          // background-color: #ffcd05 !important;
          // color: #1a1a3a !important;
          // font-size: 16px;
          // line-height: 32px;
          // font-weight: bold;
          background-color: #ffcd05;
          color: #1a1a3a;
          // -webkit-box-shadow: 0px 0px 5px 0px rgba(9, 9, 25, 0.3);
          // -moz-box-shadow: 0px 0px 5px 0px rgba(9, 9, 25, 0.3);
          // box-shadow: 0px 0px 5px 0px rgba(9, 9, 25, 0.3);
          font-size: 23px;
          line-height: 34px;
          font-weight: bold;
          padding: 5px 20px;
        }
      }

      .gem-featured-post-title {
        background-color: #1a1a3a;
        padding: 10px;

        &.title-h4 {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

.display-none {
  display: none !important;
}

.no-pagination {
  .gem-pagination {
    display: none;
  }
}

.cta-text {
  font-size: 2.5rem;
}

.fact-checks-tabs {
  .vc_tta-tabs-container {
    .vc_tta-tabs-list {
      .vc_tta-tab {
        a {
          color: #1a1a1a;
          padding: 0 17px !important;
          border-radius: 60px;
          font-weight: 600;
          font-family: "Montserrat";

          &:hover {
            background: rgba(26, 26, 58, 0.65);
            color: #ffcd05;
          }
        }

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }

      .vc_tta-tab.vc_active {
        a {
          background: #1a1a3a;
          color: #ffcd05;
        }
      }
    }
  }
}

.custom-full-width {
  .fullwidth-block {
    .fullwidth-block-background {
      background-size: 100% 100px;
    }
  }
}

.custom-post-grid {
  .vc_grid-item {
    .vc_grid-item-mini {
      .vc_gitem-animated-block {
        .vc_gitem-zone {
          border-radius: 20px 20px 0 0;
          height: 350px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .vc_gitem-zone {
        background: #f0f3f2;
        border-radius: 0 0 0 20px;

        .vc_gitem-zone-mini {
          .vc_gitem_row {
            .vc_col-sm-12 {
              min-height: 1px;
              height: 350px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .vc_custom_heading {
                h4 {
                  font-size: 1.3em;
                  line-height: 1.7em;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 500;
                }
              }

              .vc_custom_heading.vc_gitem-post-data-source-post_excerpt {
                display: none;
              }

              .vc_btn3-container {
                .vc_btn3 {
                  background-color: transparent;
                  font-size: 14px;
                  line-height: 36px;
                  text-transform: uppercase;
                  font-weight: 800;
                  padding: 0 17px;
                  border-radius: 0;
                  border: solid 2px #1a1a3a;
                  color: #1a1a3a;

                  &:hover {
                    background-color: #1a1a3a;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .title-h1 {
    color: #ffffff;

    .line-style.dark {
      &::before {
        background: rgba(30, 38, 62, 0.4);
      }
    }
  }

  .vc_grid-filter {
    .vc_grid-filter-item {
      background-color: lighten($color: #ffcd05, $amount: 30) !important;

      span {
        color: #1a1a3a !important;
        font-weight: bold !important;
      }

      &:hover {
        background-color: #ffcd05 !important;

        span {
          color: #1a1a3a !important;
        }
      }

      &.vc_active {
        background-color: #1a1a3a !important;

        span {
          color: #ffffff !important;
        }

        &:hover {
          span {
            color: #ffffff !important;
          }
        }
      }
    }
  }

  &.fact-checks {
    .vc_grid-item {
      .vc_grid-item-mini {
        .vc_gitem-animated-block {
          .vc_gitem-zone {
            border-radius: 20px 20px 0 0;
            height: 350px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: rgba($color: #000000, $alpha: 0.03);
            background-position-y: center;
            // box-shadow: inset 0px 0px 300px 200px rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}

.our-activities {
  .gem-textbox {
    .gem-textbox-inner {
      .gem-textbox-content {
        min-height: 350px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .custom-divider {
    margin-top: 30px !important;
  }

  .custom-order-col {
    .col-a {
      order: 2;
    }

    .col-b {
      order: 1;
    }
  }

  .style-new {
    article {
      .gem-featured-posts-slide-item {
        position: relative;

        .gem-featured-post-meta-categories {
          position: absolute;
          left: 20px;
        }
      }
    }
  }
}


.blog {
  &.blog-style-compact-2 {
    .post {
      .gem-news-item-right {
        .gem-news-item-right-conteiner {
          .gem-news-item-title {
            height: 3.1em;

            a {
              display: block;
              height: 100%;

              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}