.media-image {
  width: 100%;
  .media-image__container {
    width: 100%;
    .media-image__image {
      &.responsive-img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .media-image__summary {
    text-align: center;
    font-size: 0.9em;
  }
}
