<div class="img-txt">
  <img
    src="https://edmo.eu/wp-content/uploads/2020/05/eu-img.jpg"
    alt="eu-flag"
    height="60"
  />
  <p>
    This project has received funding from the European Union under Contract
    number: LC-01464044. This website reflects the views only of the independent
    Consortium, and the Commission cannot be held responsible for any use which
    may be made of the information contained herein.
  </p>
</div>
