.item p:not(:last-of-type) {
  margin: 0;
}
.item .custom-accordion h4 > a {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #5f727f !important;
  text-transform: initial;
}
.item .custom-accordion .gem-list-type-checkbox ul li {
  font-size: 16px;
  line-height: 25px;
  color: #5f727f !important;
}
.item .custom-accordion .vc_tta-panel-body {
  padding: 0 0 30px !important;
}
.item .gem-list-type-checkbox ul {
  padding: 0 2em;
}
.item .gem-list-type-checkbox ul li {
  color: #5f727f;
}
.item .gem-list-type-checkbox ul li a {
  color: inherit;
  font-weight: 400;
}
.item .gem-list-type-checkbox ul li a:hover {
  color: #03b4fe;
}
.item .gem-list-type-checkbox ul li:before {
  color: #03b4fe;
}

#editorial-section .gem-list-type-star ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#editorial-section .gem-list-type-star ul li::before {
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #03b4fe;
  font-size: 20px;
  margin-right: 30px;
}

.gem-icon-with-text {
  display: flex;
  align-items: center;
}
.gem-icon-with-text a:hover {
  color: #03b4fe;
}
