.block-content {
  padding-bottom: 110px !important;
}
.block-content .events-grid {
  display: grid;
  grid-gap: 1em;
  margin-bottom: 2em;
  grid-template-columns: repeat(4, 1fr);
}
.block-content .events-grid .event-col {
  width: 100%;
}
.block-content .event {
  display: flex;
  flex-direction: column;
  border: solid thin #f4f4f6;
  transition: all ease-in-out 0.3s;
  margin-bottom: 1.2em;
  height: 100%;
  background-color: #f4f4f6;
}
.block-content .event:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.block-content .event .event-header a {
  display: block;
  position: relative;
  transition: all ease-in 0.5s;
}
.block-content .event .event-header a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-content .event .event-header a img.img-responsive {
  height: 250px;
  width: 100%;
  aspect-ratio: 21/9;
  object-fit: cover;
}
.block-content .event .event-body {
  padding: 20px;
  min-height: 250px;
  background: #ffffff;
}
.block-content .event .event-body > div:not(:last-of-type) {
  margin-bottom: 1rem;
}
.block-content .event .event-body .type {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.block-content .event .event-body .title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.block-content .event .event-body .excerpt {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
.block-content .event .event-footer {
  background: #f4f4f6;
}
.block-content .event .event-footer hr {
  width: calc(100% - 40px);
  margin-top: 8px;
  margin-bottom: 8px;
  border-color: #ffffff;
}
.block-content .event .event-footer .event-when,
.block-content .event .event-footer .event-where {
  padding: 20px;
}
.block-content .event .event-footer .event-when > span,
.block-content .event .event-footer .event-where > span {
  display: block;
}
.block-content .event .event-footer .event-when > span:not(:last-of-type),
.block-content .event .event-footer .event-where > span:not(:last-of-type) {
  margin-bottom: 1rem;
}
.block-content .event .event-footer .event-when > span.title, .block-content .event .event-footer .event-when > span.date, .block-content .event .event-footer .event-when > span.time, .block-content .event .event-footer .event-when > span.location,
.block-content .event .event-footer .event-where > span.title,
.block-content .event .event-footer .event-where > span.date,
.block-content .event .event-footer .event-where > span.time,
.block-content .event .event-footer .event-where > span.location {
  display: block;
}
.block-content .event .event-footer .event-when > span.title,
.block-content .event .event-footer .event-where > span.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.block-content .event .event-footer .event-when > span.date, .block-content .event .event-footer .event-when > span.location,
.block-content .event .event-footer .event-where > span.date,
.block-content .event .event-footer .event-where > span.location {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.block-content .event .event-footer .event-when > span.time,
.block-content .event .event-footer .event-where > span.time {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.block-content form#events-filter, .block-content form.events-form {
  background: #f4f7f6;
  padding: 40px;
  margin-bottom: 2em;
}
.block-content form#events-filter input.form-control,
.block-content form#events-filter select.form-control,
.block-content form#events-filter button.form-control, .block-content form.events-form input.form-control,
.block-content form.events-form select.form-control,
.block-content form.events-form button.form-control {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0.375rem 0.75rem;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.block-content form#events-filter input.form-control.form-control-lg,
.block-content form#events-filter select.form-control.form-control-lg,
.block-content form#events-filter button.form-control.form-control-lg, .block-content form.events-form input.form-control.form-control-lg,
.block-content form.events-form select.form-control.form-control-lg,
.block-content form.events-form button.form-control.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25em;
}
.block-content form#events-filter input.form-control.form-control-sm,
.block-content form#events-filter select.form-control.form-control-sm,
.block-content form#events-filter button.form-control.form-control-sm, .block-content form.events-form input.form-control.form-control-sm,
.block-content form.events-form select.form-control.form-control-sm,
.block-content form.events-form button.form-control.form-control-sm {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1em;
  border: none;
  background-color: transparent;
  width: auto;
  padding-right: 30px;
  margin: 0 0 0 auto;
}
.block-content form#events-filter input.form-control.form-control-end,
.block-content form#events-filter select.form-control.form-control-end,
.block-content form#events-filter button.form-control.form-control-end, .block-content form.events-form input.form-control.form-control-end,
.block-content form.events-form select.form-control.form-control-end,
.block-content form.events-form button.form-control.form-control-end {
  margin: 0 0 0 auto;
}
.block-content form#events-filter input.form-control.search-wrapper,
.block-content form#events-filter select.form-control.search-wrapper,
.block-content form#events-filter button.form-control.search-wrapper, .block-content form.events-form input.form-control.search-wrapper,
.block-content form.events-form select.form-control.search-wrapper,
.block-content form.events-form button.form-control.search-wrapper {
  position: relative;
  padding-right: calc(1rem + 50px);
}
.block-content form#events-filter input.form-control.search-btn,
.block-content form#events-filter select.form-control.search-btn,
.block-content form#events-filter button.form-control.search-btn, .block-content form.events-form input.form-control.search-btn,
.block-content form.events-form select.form-control.search-btn,
.block-content form.events-form button.form-control.search-btn {
  position: absolute;
  width: auto;
  right: 20px;
  top: 0;
  padding: 0 20px;
  color: #ffffff;
  background: #2a2a5d;
  transition: all ease-in-out 0.2s;
}
.block-content form#events-filter input.form-control.search-btn:hover,
.block-content form#events-filter select.form-control.search-btn:hover,
.block-content form#events-filter button.form-control.search-btn:hover, .block-content form.events-form input.form-control.search-btn:hover,
.block-content form.events-form select.form-control.search-btn:hover,
.block-content form.events-form button.form-control.search-btn:hover {
  background: #1a1a3a;
}
.block-content form#events-filter input.form-control.clear-btn,
.block-content form#events-filter select.form-control.clear-btn,
.block-content form#events-filter button.form-control.clear-btn, .block-content form.events-form input.form-control.clear-btn,
.block-content form.events-form select.form-control.clear-btn,
.block-content form.events-form button.form-control.clear-btn {
  background: #2a2a5d;
  color: #ffffff;
  transition: all ease-in-out 0.2s;
}
.block-content form#events-filter input.form-control.clear-btn:hover,
.block-content form#events-filter select.form-control.clear-btn:hover,
.block-content form#events-filter button.form-control.clear-btn:hover, .block-content form.events-form input.form-control.clear-btn:hover,
.block-content form.events-form select.form-control.clear-btn:hover,
.block-content form.events-form button.form-control.clear-btn:hover {
  background: #1a1a3a;
}
.block-content form#events-filter select.form-control, .block-content form.events-form select.form-control {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}
.block-content form#events-filter select.form-control option, .block-content form.events-form select.form-control option {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1em;
}
.block-content form#events-filter .row.results, .block-content form.events-form .row.results {
  display: flex;
  align-items: center;
}
.block-content .pagination {
  display: flex;
  justify-content: center;
  column-gap: 2px;
}
.block-content .pagination .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1em;
  line-height: 1em;
  border: solid 2px #99a9b5;
  color: #99a9b5;
}
.block-content .pagination .page-numbers:hover {
  border-color: #ffcd05;
  background: #ffcd05;
  color: #ffffff;
}
.block-content .pagination .page-numbers.current {
  background: #99a9b5;
  color: #ffffff;
}
.block-content .pagination .page-numbers.current:hover {
  border-color: #99a9b5;
}
.block-content .pagination .page-numbers.dots {
  pointer-events: none;
}

.custom-footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ffcd05;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  .block-content form#events-filter input:first-of-type {
    margin-bottom: 1em;
  }
  .block-content form#events-filter button.clear-btn {
    margin-top: 1em;
  }
}
@media (max-width: 991.98px) {
  .block-content .events-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
