body.event-template-default.single .block-content {
  padding-bottom: 50px;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .blog-post-image .post-featured-content img.img-responsive {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 450px;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 2em;
  margin-top: 2em;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 1;
  min-height: 150px;
  background: #f4f4f6;
  padding: 20px;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-icon .dashicons,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-icon .dashicons,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-icon .dashicons,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-icon .dashicons {
  font-size: 40px;
  width: 40px;
  height: 40px;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text span:not(:last-of-type),
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text span:not(:last-of-type),
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text span:not(:last-of-type),
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text span:not(:last-of-type) {
  margin-bottom: 10px;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .location {
  display: block;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .title,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .location,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .date,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .location {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_when-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_when .event-meta_where-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_when-text .time,
body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta .event-meta_where .event-meta_where-text .time {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
body.event-template-default.single .custom-footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ffcd05;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  body.event-template-default.single .block-content article.event.type-event .entry-content.post-content .event-meta {
    flex-direction: column;
  }
}
