.eu-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.eu-section .eu-img {
  flex: 1 0 auto;
  width: 90px;
}
.eu-section .eu-img img {
  width: 100%;
  height: auto;
}
.eu-section .eu-text p {
  margin: 0;
}

@media (max-width: 768px) {
  .eu-section {
    flex-direction: column;
    align-items: flex-start;
  }
}
