.custom-hover-box .vc-hoverbox .vc-hoverbox-inner .vc-hoverbox-front {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.custom-hover-box .vc-hoverbox .vc-hoverbox-inner .vc-hoverbox-back {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.custom-hover-box .vc-hoverbox .vc-hoverbox-inner .vc-hoverbox-back .vc-hoverbox-back-inner p {
  font-size: 15px;
  line-height: 22px;
}
.custom-hover-box .vc-hoverbox .vc-hoverbox-inner .vc-hoverbox-back .vc-hoverbox-back-inner a.vc_btn3 {
  border-color: #ffcd05;
  background: transparent;
  color: #1a1a3a;
  text-transform: uppercase;
}
.custom-hover-box .vc-hoverbox .vc-hoverbox-inner .vc-hoverbox-back .vc-hoverbox-back-inner a.vc_btn3:hover {
  background: #ffcd05;
}

.custom-tweeter-feed .ctf .ctf-tweets .ctf-item .ctf-tweet-actions a {
  color: #1a1a3a !important;
}

.custom-activity .gem-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.custom-activity .gem-team .inline-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.custom-activity .gem-team .inline-column .team-person {
  height: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.custom-activity .gem-team .inline-column .team-person .team-person-image {
  margin-bottom: 25px;
}
.custom-activity .gem-team .inline-column .team-person .team-person-image span {
  border-radius: 0;
}
.custom-activity .gem-team .inline-column .team-person .team-person-image span img {
  border-radius: 0;
}
.custom-activity .gem-team .inline-column .team-person .team-person-info {
  margin-bottom: 0;
}
.custom-activity .gem-team .inline-column .team-person .team-person-info .team-person-name.title-h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}
.custom-activity .gem-team .inline-column .team-person:hover .team-person-image span::before {
  background-color: transparent;
  border-radius: 0;
}

.custom-img-responsive .vc_figure {
  display: block;
}
.custom-img-responsive .vc_figure a.vc_single_image-wrapper {
  display: block;
}
.custom-img-responsive .vc_figure a.vc_single_image-wrapper .vc_single_image-img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
