#top-area {
  display: none;
}

#page-title {
  background-image: url(https://edmo-staging.eu/wp-content/uploads/2018/06/Parallax-Background-02.jpg);
  background-color: #6c7cd0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 140px;
}

p {
  font-size: 21px;
  line-height: 35px;
  font-weight: 300;
  color: #24262e;
}

.gem-textbox .gem-textbox-inner .gem-textbox-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 490px;
}
.gem-textbox .gem-textbox-inner .gem-textbox-content p {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.gem-textbox .gem-textbox-inner .gem-textbox-content .gem-button {
  margin-bottom: 0;
}

.gem-list.gem-list-type-checkbox ul li {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
  padding-left: 12px;
  color: #24262e;
}
.gem-list.gem-list-type-checkbox ul li::before {
  color: #03b4fe;
  font-weight: bold;
}

.vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title .vc_tta-title-text {
  font-family: "Montserrat", "Montserrat UltraLight", sans-serif;
}
.vc_tta-panels .vc_tta-panel .vc_tta-panel-body p {
  font-size: 19px;
  line-height: 25px;
}
