p {
  font-size: 18px;
  line-height: 30px;
}
p a {
  color: #5f727f;
  font-weight: bold;
}

.team-person .team-person-hover .team-person-info {
  margin: 30px 0;
}
.team-person:hover .team-person-hover {
  background-color: transparent !important;
}

a[title="Contact Belux"] {
  color: #ffffff !important;
  background: #1a1a3a;
  border-radius: 50%;
}
a[title="Contact Belux"] i {
  display: flex;
  justify-content: center;
  align-items: center;
}
a[title="Contact Belux"] i::before {
  font-family: "Font Awesome 5 Free";
  font-size: 0.65em;
  content: "\f0e0" !important;
}
a[title="Contact Belux"]:hover {
  background-color: #0288d1 !important;
}
a[title="Contact Belux"]:hover i {
  color: #ffffff !important;
}

.custom-background .fullwidth-block-background {
  background-size: 100% 150px !important;
}

.gem-team.gem-team-style-5 {
  display: flex;
  flex-wrap: wrap;
}
.gem-team.gem-team-style-5 .team-person {
  height: 100%;
}
.gem-team.gem-team-style-5 .team-person .team-person-hover {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.gem-team.gem-team-style-5 .team-person .team-person-hover .team-person-image {
  margin: 0 auto;
}
.gem-team.gem-team-style-5 .team-person .team-person-hover .team-person-socials.socials {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
.gem-team.gem-team-style-5 .team-person:hover {
  margin-top: 0;
  margin-bottom: 0;
}
.gem-team.gem-team-style-5 .team-person:hover .team-person-hover {
  padding: 47px 30px;
}
