@charset "UTF-8";
#custom-fact-check-filters {
  position: relative;
}
#custom-fact-check-filters .custom-category-list {
  position: relative;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
#custom-fact-check-filters .custom-category-list li.custom-category-item, #custom-fact-check-filters .custom-category-list li.custom-category-dropdown {
  cursor: pointer;
  padding: 3px 20px;
  background: #ffdd52;
  color: #1a1a3a;
  font-size: 18px;
  line-height: 30px;
}
#custom-fact-check-filters .custom-category-list li.custom-category-item:hover, #custom-fact-check-filters .custom-category-list li.custom-category-dropdown:hover {
  background: #ffcd05;
}
#custom-fact-check-filters .custom-category-list li.custom-category-item.active, #custom-fact-check-filters .custom-category-list li.custom-category-dropdown.active {
  background: #1a1a3a;
  color: #ffffff;
}
#custom-fact-check-filters .custom-category-list li.custom-category-dropdown {
  position: relative;
}
#custom-fact-check-filters .custom-category-list li.custom-category-dropdown .dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 36px;
  background: #ffdd52;
  min-width: 40px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  list-style: none;
  padding-left: 0;
}
#custom-fact-check-filters .custom-category-list li.custom-category-dropdown .dropdown.show {
  display: block;
}
#custom-fact-check-filters .custom-category-list li.custom-category-dropdown::after {
  content: "▼";
  font-size: 13px;
  opacity: 0.9;
  color: #1a1a3a;
}
#custom-fact-check-filters #ajax_filter_search_results {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(350px, 1fr);
  overflow-x: auto;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: calc(100% - 18px);
  margin-bottom: 18px;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-header {
  height: 250px;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-header a img.img-responsive {
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-body {
  background: #f4f6f7;
  padding: 20px 10px;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-body .title a {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000000;
  line-height: 1.7em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-body .title a:hover {
  color: #0d0d0d;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-body .read-more a {
  display: inline-block;
  background-color: transparent;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 17px;
  border-radius: 0px !important;
  border: solid 2px #1a1a3a;
  color: #1a1a3a;
}
#custom-fact-check-filters #ajax_filter_search_results .fact-check-col article.post .fact-check-body .read-more a:hover {
  background-color: #1a1a3a;
  color: #ffffff;
}
