.fact-check-metabox .fact-check-metabox__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0;
  border: solid thin rgba(128, 128, 128, 0.1);
}
.fact-check-metabox .fact-check-metabox__bottom .fact-check-img-wrapper {
  width: auto;
  height: 75px;
  padding: 0 20px;
}
.fact-check-metabox .fact-check-metabox__bottom .fact-check-img-wrapper img {
  width: auto;
  height: 75px;
  object-fit: cover;
  object-position: center center;
}
.fact-check-metabox .fact-check-metabox__bottom .fact-check-text {
  font-family: inherit;
}

.d-none {
  display: none !important;
}
