.wpDataTables .wpDataTableFilterBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wpDataTables .wpDataTableFilterBox .wpDataTableFilterSection {
  width: 250px !important;
  margin: 0 !important;
}
.wpDataTables .wpDataTableFilterBox .wpDataTableFilterSection label {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.powered_by_link {
  display: none;
}
