.rpwe_widget {
  margin-top: 40px !important;
}

.rpwe-block ul {
  list-style: none !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.rpwe-block li {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}

.rpwe-block a {
  display: inline !important;
  text-decoration: none;
}

.rpwe-block a:hover {
  color: #1a1a3a;
}

.rpwe-block h3 {
  background: none !important;
  clear: none;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.5em;
}

.rpwe-thumb {
  border: 1px solid #eee !important;
  box-shadow: none !important;
  margin: 2px 10px 2px 0;
  padding: 3px !important;
}

.rpwe-summary {
  font-size: 12px;
}

.rpwe-time {
  color: #bbb;
  font-size: 11px;
}

.rpwe-comment {
  color: #bbb;
  font-size: 11px;
  padding-left: 5px;
}

.rpwe-alignleft {
  display: inline;
  float: left;
}

.rpwe-alignright {
  display: inline;
  float: right;
}

.rpwe-aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after {
  content: "";
  display: table !important;
}

.rpwe-clearfix:after {
  clear: both;
}

.rpwe-clearfix {
  zoom: 1;
}
