.media-image {
  width: 100%;
}
.media-image .media-image__container {
  width: 100%;
}
.media-image .media-image__container .media-image__image.responsive-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.media-image .media-image__summary {
  text-align: center;
  font-size: 0.9em;
}
