table.wpDataTable.wpDataTableID-2 thead tr {
  border-bottom: solid thin rgba(95, 114, 127, 0.3);
}
table.wpDataTable.wpDataTableID-2 tbody tr td {
  overflow-wrap: break-word;
  font-weight: 400;
}
table.wpDataTable.wpDataTableID-2 tbody tr td:first-of-type {
  display: flex;
  align-items: center;
}
table.wpDataTable.wpDataTableID-2 tbody tr td:first-of-type a {
  color: rgba(0, 0, 0, 0.8);
}
table.wpDataTable.wpDataTableID-2 tbody tr td:first-of-type a:hover {
  color: black;
}
table.wpDataTable.wpDataTableID-2 tbody tr:not(:last-of-type) {
  border-bottom: solid thin rgba(95, 114, 127, 0.3);
}

.wpDataTableFilterBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.wpDataTableFilterBox .wpDataTableFilterSection {
  display: flex;
  flex-direction: column;
  width: 250px !important;
  margin: 0 !important;
}
.wpDataTableFilterBox .wpDataTableFilterSection label {
  font-size: 18px;
  line-height: 30px;
}
.wpDataTableFilterBox .wpDataTableFilterSection button.wdt-clear-filters-button {
  background-color: #ffcd05;
  color: #1a1a3a;
  font-weight: bold;
  font-size: 15px;
}
.wpDataTableFilterBox .wpDataTableFilterSection button.wdt-clear-filters-button:hover {
  background-color: #ebbc00;
}

.powered_by_link {
  display: none;
}
