.breadcrumbs-container {
  .container {
    .breadcrumbs {
      display: flex;
      flex-wrap: nowrap;
      //   justify-content: center;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        display: none;
      }

      > span {
        flex: 0 0 auto;
      }
    }
  }
}

@media (min-width: 800px) {
  .breadcrumbs-container {
    .container {
      .breadcrumbs {
        justify-content: center;
      }
    }
  }
}
