// .title-h1 {
//   color: #ffffff;

//   .line-style {
//     &.dark {
//       &::before {
//         background: #1e263e;
//       }
//     }
//   }
// }

.custom-one-post {
  a {
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }

  .gem-button {
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-post {
  .gem-textbox {
    position: relative;
  }

  .custom-category {
    position: absolute;
    top: 10px;
    left: 10px;

    a {
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .custom-title {
    a {
      span {
        transition: all 0.3s;
      }

      &:hover {
        span {
          color: #ffcd05 !important;
        }
      }
    }
  }
}

// .style-new {
//   .gem-featured-post-title {
//     max-width: 80%;
//   }

//   .gem-featured-post-meta-categories {
//     span {
//       background-color: #ffcd05 !important;
//       color: #1a1a3a !important;

//       a {
//         font-size: 16px;
//         line-height: 32px;
//         font-weight: bold;
//       }
//     }
//   }
// }

.display-none {
  display: none !important;
}

.no-pagination {
  .gem-pagination {
    display: none;
  }
}

.cta-text {
  font-size: 2.5rem;
}

.fact-checks-tabs {
  .vc_tta-tabs-container {
    .vc_tta-tabs-list {
      display: flex !important;
      flex-wrap: nowrap !important;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch !important;
      -ms-overflow-style: -ms-autohiding-scrollbar !important;
      padding-bottom: 5px !important;

      .vc_tta-tab {
        flex: 0 0 auto !important;

        a {
          color: #1a1a1a;
          padding: 0 17px !important;
          border-radius: 60px;
          font-weight: 600;
          font-family: "Montserrat";

          &:hover {
            background: rgba($color: #1a1a3a, $alpha: 0.65);
            color: #ffcd05;
          }
        }

        &.vc_active {
          a {
            background: #1a1a3a;
            color: #ffcd05;
          }
        }

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }

      &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        background-color: #f1f2f3;
      }

      &::-webkit-scrollbar {
        width: 12px;
        height: 9px;
        background-color: darken($color: #f1f2f3, $amount: 10);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0;
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ffcd05;
      }
    }
  }
}

.custom-full-width {
  .fullwidth-block {
    .fullwidth-block-background {
      background-size: 100% 100px !important;
    }
  }
}

.custom-post-grid {
  .vc_grid-item {
    .vc_grid-item-mini {
      .vc_gitem-animated-block {
        .vc_gitem-zone {
          border-radius: 20px 20px 0 0;
          height: 350px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .vc_gitem-zone {
        background: #f0f3f2;
        border-radius: 0 0 0 20px;
        .vc_gitem-zone-mini {
          .vc_gitem_row {
            .vc_col-sm-12 {
              min-height: 1px;
              height: 350px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .vc_custom_heading {
                h4 {
                  font-size: 1.3em;
                  line-height: 1.7em;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 500;
                }

                &.vc_gitem-post-data-source-post_excerpt {
                  display: none;
                }
              }

              .vc_btn3-container {
                .vc_btn3 {
                  background-color: transparent;
                  font-size: 14px;
                  line-height: 36px;
                  text-transform: uppercase;
                  font-weight: 800;
                  padding: 0 17px;
                  border-radius: 0;
                  border: solid 2px #1a1a3a;
                  color: #1a1a3a;

                  &:hover {
                    background-color: #1a1a3a;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }

    // &:hover {
    //   .vc_grid-item-mini {
    //     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    //       0 1px 2px 0 rgba(0, 0, 0, 0.06);
    //   }
    // }
  }

  .title-h1 {
    color: #ffffff;

    .line-style {
      &.dark {
        &::before {
          background: rgba(30, 38, 62, 0.4);
        }
      }
    }
  }
}

.btn-responsive {
  .gem-button {
    font-size: 1vw;
  }
}

.equal-height-columns {
  .vc_column-inner {
    .wpb_wrapper {
      height: 100%;

      .gem-textbox {
        height: 100%;

        .gem-textbox-inner {
          height: 100%;

          .gem-textbox-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
              text-decoration: underline;

              &:hover {
                color: rgba($color: #000000, $alpha: 1);
                text-decoration-thickness: 2px;
              }
            }
          }
        }
      }
    }
  }
}

.style-new {
  article {
    background-size: contain !important;
    // background-color: rgba($color: #000000, $alpha: 0.05);
    background-color: #e5e5e5;

    .gem-featured-posts-slide-item {
      position: relative;
      padding: 40px 0;
      height: 100%;
      justify-content: flex-end;
      align-items: center;

      .gem-featured-post-meta-categories {
        position: absolute;
        top: 40px;
        left: 0;

        span {
          background-color: #ffcd05;
          color: #1a1a3a;
          font-size: 23px;
          line-height: 34px;
          font-weight: bold;
          padding: 5px 20px;
        }
      }

      .gem-featured-post-title {
        background-color: #1a1a3a;
        padding: 10px;

        &.title-h4 {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

.custom-sidebar {
  .small-custom-title {
    .title-h4 {
      &::before {
        background: #d9dfe1;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .custom-order-col {
    .col-a {
      order: 2;
    }
    .col-b {
      order: 1;
    }
  }

  .btn-responsive {
    .gem-button {
      font-size: 2.5vw;
    }
  }

  .style-new {
    article {
      .gem-featured-posts-slide-item {
        position: relative;

        .gem-featured-post-meta-categories {
          position: absolute;
          left: 20px;
        }
      }
    }
  }
}
