// RSS Feed
.ww-item {
  &.image {
    display: block;
    text-align: center;

    > img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    > .legend {
      display: block;
      text-align: center;
      margin: 0 0 1.1em;
    }
  }
}

// Sidebar Recent posts
#custom_recent_posts-1 {
  .posts {
    &.styled {
      .gem-pp-posts {
        .gem-pp-posts-image {
          display: none;
        }

        .gem-pp-posts-text {
          .gem-pp-posts-item {
            margin-left: 0;
            a {
              &:hover {
                color: #1a1a3a;
              }
            }
          }
          .gem-pp-posts-date {
            display: none;
          }
        }
      }
    }
  }
}
