#site-header-wrapper {
  #site-header {
    .header-background {
      .container-fullwidth {
        width: 85%;
      }

      .container,
      .container-fullwidth {
        .primary-navigation {
          #primary-menu {
            &.no-responsive {
              > .menu-item {
                > a {
                  padding: 0 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1319.98px) and (min-width: 1212.98px) {
  #site-header-wrapper {
    #site-header {
      .header-background {
        .container-fullwidth {
          width: 100%;
        }
      }
    }
  }
}

// 1213
