.cta-text {
  font-size: 2.5rem;
}

.style-new {
  .gem-featured-post-title {
    max-width: 80%;
  }

  .gem-featured-post-meta-categories {
    span {
      background-color: #ffcd05 !important;
      color: #1a1a3a !important;

      a {
        font-size: 16px;
        line-height: 32px;
        font-weight: bold;
      }
    }
  }
}
