.wpDataTables {
  .wpDataTableFilterBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .wpDataTableFilterSection {
      width: 250px !important;
      margin: 0 !important;
      padding: 0 !important;

      label {
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
      }
    }
  }
}

.powered_by_link {
  display: none;
}

.custom-full-width {
  .fullwidth-block {
    .full-custom-title {
      .title-h2 {
        &::before {
          background: #d9dfe1;
        }
      }
    }
  }
}
