.custom-one-post {
  a {
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }

  .gem-button {
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-post {
  .gem-textbox {
    position: relative;
  }

  .custom-category {
    position: absolute;
    top: 10px;
    left: 10px;

    a {
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .custom-title {
    a {
      span {
        transition: all 0.3s;
      }

      &:hover {
        span {
          color: #ffcd05 !important;
        }
      }
    }
  }
}

.style-new {
  .gem-featured-post-title {
    max-width: 80%;
  }

  .gem-featured-post-meta-categories {
    span {
      background-color: #ffcd05 !important;
      color: #1a1a3a !important;

      a {
        font-size: 16px;
        line-height: 32px;
        font-weight: bold;
      }
    }
  }
}

.display-none {
  display: none !important;
}

.no-pagination {
  .gem-pagination {
    display: none;
  }
}
