.display-posts-listing {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .listing-item {
    .title {
      color: rgba($color: #fcfcfc, $alpha: 0.75);

      &:hover {
        color: rgba($color: #ffcd05, $alpha: 0.8);
      }
    }
  }
}
