table.wpDataTable.wpDataTableID-1 {
  thead {
    tr {
      border-bottom: solid thin rgba($color: #5f727f, $alpha: 0.3);
    }
  }

  tbody {
    tr {
      td {
        overflow-wrap: break-word;
        font-weight: 400;

        &:first-of-type {
          a {
            color: rgba($color: #000000, $alpha: 0.8);
            &:hover {
              color: rgba($color: #000000, $alpha: 1);
            }
          }
        }
      }

      &:not(:last-of-type) {
        border-bottom: solid thin rgba($color: #5f727f, $alpha: 0.3);
      }
    }
  }
}

.wpDataTableFilterBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .wpDataTableFilterSection {
    display: flex;
    flex-direction: column;
    width: 250px !important;
    margin: 0 !important;

    label {
      font-size: 18px;
      line-height: 30px;
    }

    button.wdt-clear-filters-button {
      background-color: #ffcd05;
      color: #1a1a3a;
      font-weight: bold;
      font-size: 15px;

      &:hover {
        background-color: darken($color: #ffcd05, $amount: 5);
      }
    }
  }
}
