[leaflet-map]
<!-- Australia -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Australia"]
<div class="country">Australia</div>
<ul class="institutions">
    <li><span class="title">University of Sidney/ Sydney Medical School <a href="https://www.sydney.edu.au/" target="_blank"><i class="fas fa-link"></i></a> <a href="https://www.sydney.edu.au/medicine-health/schools/sydney-medical-school.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Austria -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Austria"]
<div class="country">Austria</div>
<ul class="institutions">
    <li><span class="title">University of Vienna - Department of Communication <a href="https://publizistik.univie.ac.at/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Research Center of New Media Technology; MODUL Technology GmbH University Vienna <a href="https://www.modul.ac.at/about/academic-schools/research-center-of-new-media-technology#" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Belgium -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Belgium"]
<div class="country">Belgium</div>
<ul class="institutions">
    <li><span class="title">Institute for Interdisciplinary Innovation in healthcare <a href="https://i3health.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">EU Disinfo Lab <a href="https://www.disinfo.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of Antwerp <a href="https://www.uantwerpen.be/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Université libre de Bruxelles <a href="https://www.ulb.be/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Brazil -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Brazil"]
<div class="country">Brazil</div>
<ul class="institutions">
    <li><span class="title">State University of Londrina <a href="http://www.uel.br/portal/english/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Universidade Federal do Rio Grande do Sul <a href="http://www.ufrgs.br/english/home" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of São Paolo, ICMC <a href="https://www.icmc.usp.br/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Bulgaria -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Bulgaria"]
<div class="country">Bulgaria</div>
<ul class="institutions">
    <li><span class="title">Sofia University “St. Kliment Ohridski" <a href="https://www.uni-sofia.bg/index.php/eng/the_university" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Canada -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Canada"]
<div class="country">Canada</div>
<ul class="institutions">
    <li><span class="title">Simon Fraser University; the Disinformation project <a href="http://www.sfu.ca/communication/research/projects/the-disinformation-project.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of Waterloo <a href="https://uwaterloo.ca/data-systems-group/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Dalhousie University <a href="https://www.dal.ca/faculty/computerscience.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of Alberta <a href="https://www.ualberta.ca/physical-therapy/index.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- China -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="China"]
<div class="country">China</div>
<ul class="institutions">
    <li><span class="title">ShanghaiTech University <a href="https://www.shanghaitech.edu.cn/eng/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Shandong University <a href="https://en.sdu.edu.cn/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Cyprus -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Cyprus"]
<div class="country">Cyprus</div>
<ul class="institutions">
    <li><span class="title">Cyprus University of Technology <a href="https://www.cut.ac.cy/?languageId=1" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Czech Republic -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Czech Republic"]
<div class="country">Czech Republic</div>
<ul class="institutions">
    <li><span class="title">Tomas Bata University in Zlin <a href="https://fai.utb.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">ČVUT FEL - Czech Technical University in Prague, Faculty Of Electrical Engineering <a href="https://fel.cvut.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of Tomas Bata, Zlin, Faculty of Multimedia Communication, project Designformation <a href="https://fmk.utb.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Charles University, Prague, Faculty of Social Sciences, CEDMO/ Center of Artificial Intelligence Journalism <a href="https://fsv.cuni.cz/en/news/central-european-digital-media-observatory-cedmo-will-be-located-faculty-social-sciences" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">University of Masaryk, Brno, Faculty of Medicine, Institute of biostatistics an analysis/ Faculty of Arts, Design Thinking Action Lab <a href="https://iba.med.muni.cz/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Charles University, Faculty of Social Sciences, Institute of Communication Studies and Journalism <a href="https://iksz.fsv.cuni.cz/en/research/center-artificial-intelligence-journalism" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Charles University, Faculty of Arts, Institute of Information Science and Librarianship <a href="https://uisk.ff.cuni.cz/en/library-and-information-science/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Palacký University, Olomouc, Center for the Prevention of Risky Virtual Communication/ Center for Safe Internet <a href="https://veda.upol.cz/en/workplaces/research-centres/centre-for-the-prevention-of-risky-virtual-communication/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">The Institute of Technology and Business in Ceske Budejovice <a href="https://www.czechuniversities.com/catalogue-of-universities/institute-of-technology-and-business" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">VSB-Technical University of Ostrava <a href="https://www.fei.vsb.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Academy of Science, Institute of State and Law, Prague <a href="https://www.ilaw.cas.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">NFNZ – Foundation of Independent Journalism <a href="https://www.nfnz.cz/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">FAV ZČU - University Of West Bohemia, Faculty Of Applied Sciences  <a href="https://www.ntis.zcu.cz/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Prague Security Studies Institute  <a href="https://www.pssi.cz/" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">Institute of Sociology, Prague, Public Opinion Research Centre  <a href="https://www.soc.cas.cz/en/department/public-opinion-research-centre" target="_blank"><i class="fas fa-link"></i></a></span></li>
    <li><span class="title">The School of Expertness and Valuation  <a href="https://www.vstecb.cz/en/school-of-expertness-and-valuation-1511-htm/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Denmark -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Denmark"]
<div class="country">Denmark</div>
<ul class="institutions">
  <li><span class="title">DATALAB, Center for Digital Social Research, Aarhus University/ NORDIS - Nordic Observatory for Digital Media and Information Disorder <a href="https://datalab.au.dk/" target="_blank"><i class="fas fa-link"></i></a> <a href="https://datalab.au.dk/nordis" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IT University of Copenhagen <a href="https://itu.dk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Chiropractic Knowledge Hub <a href="https://kiroviden.com/en/news/general-news/nikkb-has-become-the-chiropractic-knowledge-hub" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Technical University of Denmark <a href="https://www.dtu.dk/english/research" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Southern Denmark; University Hospital of Southern Denmark <a href="https://www.sdu.dk/en/om_sdu/institutter_centre/iob_idraet_og_biomekanik" target="_blank"><i class="fas fa-link"></i></a> <a href="https://www.sdu.dk/en/om_sdu/institutter_centre/irs_regional_sundhedsforskning/forskning" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- UK -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="United Kingdom"]
<div class="country">United Kingdom</div>
<ul class="institutions">
  <li><span class="title">Oxford Reuters Institute <a href="https://reutersinstitute.politics.ox.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Institute for Strategic Dialogue <a href="https://www.isdglobal.org/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">London Institute of Mathematical Science <a href="https://lims.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Brighton and Sussex Medical School <a href="https://www.bsms.ac.uk/index.aspx" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Durham University <a href="https://www.durham.ac.uk/homepage/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The University of Edinburgh <a href="https://www.ed.ac.uk/informatics" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">King’s College London <a href="https://www.kcl.ac.uk/mathematics" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Loughborough University <a href="https://www.lboro.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Leeds; School of Politics and International Studies <a href="https://www.leeds.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Leeds; School of Politics and International Studies <a href="https://essl.leeds.ac.uk/politics" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">London School of Hygiene and Tropical Medicine <a href="https://www.lshtm.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Newcastle University <a href="https://www.ncl.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Oxford <a href="https://www.oii.ox.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Brighton <a href="https://www.postgrad.com/department/university-of-brighton-school-of-computing-engineering-and-mathematics/29286/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Halam Univeristy <a href="https://www.shu.ac.uk/research/specialisms/culture-creativity-research-institute" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">London School of Economics and Political Sciences <a href="https://www.systemicrisk.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University College London <a href="https://www.ucl.ac.uk/computer-science/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Westminster <a href="https://www.westminster.ac.uk/study/postgraduate/research-degrees/research-areas/school-of-social-sciences" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Winchester <a href="https://www.winchester.ac.uk/about-us/leadership-and-governance/our-faculties/hss/psychology/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Chester <a href="https://www1.chester.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Brunel University <a href="https://www.brunel.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Essex - College of Social Sciences and International Studies <a href="https://www.essex.ac.uk/about/faculty-of-social-sciences" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Greenwich <a href="https://www.gre.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Computer Science Department, Middlesex University <a href="https://www.mdx.ac.uk/about-us/what-we-do/faculty-of-science-and-technology/computer-science" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Oxford Internet Institute <a href="https://www.oii.ox.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Cambridge, Department of Psychology <a href="https://www.psychol.cam.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Queen Mary University <a href="https://www.qmul.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Sheffield <a href="https://www.sheffield.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Wolverhampton <a href="https://www.wlv.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- USA -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="USA"]
<div class="country">USA</div>
<ul class="institutions">
  <li><span class="title">University at Buffalo (SUNY) <a href="http://www.buffalo.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Stanford Internet Observatory <a href="https://cyber.fsi.stanford.edu/io/io" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">School of Electric Engineering and Computer Sciene, University of Ottawa <a href="https://engineering.uottawa.ca/school-EECS" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The Observatory of Social Media, Indiana University <a href="https://osome.iu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Washington University <a href="https://wustl.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Arizona State University <a href="https://www.asu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Boston University <a href="https://www.bu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Central Washington University <a href="https://www.cwu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Texas at Austin, School of Information <a href="https://www.ischool.utexas.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Southern California <a href="https://www.isi.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Lowell General Hospital <a href="https://www.lowellgeneral.org/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">MIT Media Lab <a href="https://www.media.mit.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">National Defense University <a href="https://www.ndu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Northeastern University <a href="https://www.northeastern.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">New York University <a href="https://www.nyu.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Rensselaer Polytechnic Institute <a href="https://www.rpi.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Rutgers University <a href="https://www.rutgers.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of South Alabama <a href="https://www.southalabama.edu/colleges/artsandsci/pscj/habel.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Alabama at Birmingham <a href="https://www.uab.edu/home/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Texas at Austin <a href="https://www.utexas.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Washington <a href="https://www.washington.edu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The Center for Labor Economics at CLI <a href="https://aa-er.org/cli" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- EU - Brussels -->
[leaflet-marker svg color="#ffcd05" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Belgium Brussels"]
<div class="country">Brussels</div>
<ul class="institutions">
  <li><span class="title">CoInform <a href="https://coinform.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Covid19 Infodemics Observatory <a href="https://covid19obs.fbk.eu/#/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">NEPOCS, Network of European Political Communication Scholars <a href="https://nepocs.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Reveal <a href="https://revealproject.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">WeVerify <a href="https://weverify.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">AI4Media <a href="https://www.ai4media.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">YouVerify <a href="https://youverify.eu/en/project" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Finland -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Finland"]
<div class="country">Finland</div>
<ul class="institutions">
  <li><span class="title">Communication Rights in the Age of Digital Disruption (CORDI) <a href="https://cordi.blog/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Helsinki, Communication and Media <a href="https://www.helsinki.fi/en/faculty-social-sciences/research/disciplines-and-research-centres/media-and-communication-studies" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Hybrid CoE - The European Centre of Excellence for Countering Hybrid Threats <a href="https://www.hybridcoe.fi/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- France -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="France"]
<div class="country">France</div>
<ul class="institutions">
  <li><span class="title">Institut des sciences sociales du politique; Université Paris Nanterre <a href="https://isp.cnrs.fr/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">La Rochelle University <a href="https://www.univ-larochelle.fr/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Germany -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Germany"]
<div class="country">Germany</div>
<ul class="institutions">
  <li><span class="title">Paderborn University <a href="https://eduglopedia.org/department-of-business-information-systems-paderborn-university" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">RWTH Aachen University <a href="https://hcic.rwth-aachen.de/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">RISE_SMA Social Media Analytics for Society and Crisis Communication <a href="https://social-media-analytics.org/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Hamburg University, Faculty of Education <a href="https://www.ew.uni-hamburg.de/en.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">München University <a href="https://www.hfp.tum.de/en/home/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Karlsruhe Institute of Technology <a href="https://www.kit.edu/english/index.php" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Max Planck Institute for Informatic <a href="https://www.mpi-inf.mpg.de/home" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Fraunhofer Institute for Secure Information Technology SIT <a href="https://www.sit.fraunhofer.de/en/itforensics/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Duisburg-Essen <a href="https://www.uni-due.de/" target="_blank"><i class="fas fa-link"></i></a> <a href="https://www.uni-due.de/iw/inko/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Göttingen <a href="https://www.uni-goettingen.de/en/1.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Münster <a href="https://www.uni-muenster.de/Kowi/en/personen/index.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Hamburg <a href="https://www.wiso.uni-hamburg.de/en/fachbereich-sowi.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Switzerland -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Switzerland"]
<div class="country">Switzerland</div>
<ul class="institutions">
  <li><span class="title">The International Organization for Migration (IOM), Migration Research Division, World Migration Report, UN Migration <a href="https://worldmigrationreport.iom.int/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">ETH Zürich <a href="https://ethz.ch/en.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Zurich <a href="https://www.balgrist.ch/en/offer/centers/chiropractic-medicine/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Zurich, Department of Communication and Media Research <a href="https://www.ikmz.uzh.ch/en.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Fachhochschule Südschweiz SUPSI <a href="https://www.supsi.ch/home/supsi.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universitá della Svizzera italiana <a href="https://www.usi.ch/it" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Greece Athens -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Greece Athens"]
<div class="country">Greece</div>
<ul class="institutions">
  <li><span class="title">Social Truth <a href="http://www.socialtruth.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Informatics, Ionian University Corfu <a href="https://di.ionio.gr/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Crete <a href="https://en.uoc.gr/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Ionian University <a href="https://ionio.gr/en/university/museum-ionian/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of the Aegean <a href="https://www.aegean.gr/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Athens University of Economics and Business <a href="https://www.aueb.gr/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">CERTH, Centre for Research & Technology Hellas <a href="https://www.certh.gr/root.en.aspx" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">ICCS National Technical University of Athens <a href="https://www.iccs.gr/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IMSI Athena RC <a href="https://www.imsi.athenarc.gr/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">inVID <a href="https://www.invid-project.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Technologies Institute Thermi <a href="https://www.ites.kit.edu/english/index.php" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Nokia Solutions and Networks Hellas A.E <a href="https://www.nokia.com/nokia-in-greece/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Ireland -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Ireland"]
<div class="country">Ireland</div>
<ul class="institutions">
  <li><span class="title">Dublin City University, project: PROVENANCE <a href="https://cordis.europa.eu/project/id/825227" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">DCU Institute of Future Media, Democracy & Society <a href="https://fujomedia.eu/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Israel -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Israel"]
<div class="country">Israel</div>
<ul class="institutions">
  <li><span class="title">Bar-Ilan University <a href="https://www.biu.ac.il/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Haifa <a href="https://www.haifa.ac.il/?lang=en" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Italy -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Italy"]
<div class="country">Italy</div>
<ul class="institutions">
  <li><span class="title">Center for Digital Health Humanities <a href="http://www.centerfordigitalhealthhumanities.com/it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Federico II University <a href="http://www.dises.unina.it/en_GB/web/guest/ateneo/strutture/dipartimenti/-/asset_publisher/fkojUTPR0Vtk/content/8262905-dipartimento-di-neuroscienze-e-scienze-riproduttive-ed-odontostomatologiche/11958;jsessionid=7988C913132870F4F536291F61592ACE.unina_dip2" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University Federico II of Naples <a href="http://www.international.unina.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IUSS Institute for Advanced Studies <a href="http://www.iusspavia.it/en/web/guest/university-school-for-advanced-studies" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Center of Data Science and Complexity for Society, Sapienza University <a href="https://cdcs.di.uniroma1.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Brescia <a href="https://drii.unibs.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Parma <a href="https://en.unipr.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Torino <a href="https://en.unito.it/cb5-corso-di-laurea-dipartimenti/clinical-and-biological-sciences" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Campania <a href="https://international.unicampania.it/index.php/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Machine Learning Lab, University of Trieste <a href="https://machinelearning.inginf.units.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IMT School for Advanced Studies Lucca <a href="https://networks.imtlucca.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Genoa <a href="https://unige.it/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Multiple Sclerosis Center <a href="https://www.aism.it/italian_multiple_sclerosis_society_aism" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Collegio Carlo Alberto <a href="https://www.carloalberto.org/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Information Engineering, University of Pisa <a href="https://www.dii.unipi.it/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Foundazione Bruno Kessler <a href="https://www.fbk.eu/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IIT CNR; Institute for Informatics and Telematics <a href="https://www.iit.cnr.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">ISC-CNR <a href="https://www.isc.cnr.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">ISI Foundation <a href="https://www.isi.it/en/home" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Linkalab <a href="https://www.linkalab.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Luiss “Guido Carli” University <a href="https://www.luiss.edu/course/c65a488b-ec0c-42ad-ba51-e8cf57e9c36d?gclid=Cj0KCQiAu62QBhC7ARIsALXijXTTdXwCPgRlyRAqhN3GsJo30G1x2w84rtd9hwiJ4ThBYrYuMiC0ywEaAhqEEALw_wcB" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Cyber Security Lab of the National Research Council of Italy <a href="https://www.openaccessgovernment.org/cyber-security-lab/68210/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Politecnico di Milano <a href="https://www.polimi.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Scuola Normal Superiore <a href="https://www.sns.it/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Bocconi University <a href="https://www.unibocconi.eu/wps/wcm/connect/Bocconi/SitoPubblico_EN/Navigation+Tree/Home/faculty+and+research/departments/Social+and+Political+Sciences/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Catania, Department of Humanities (DISUM Dipartimento di Scienze Umanistiche) <a href="https://www.unict.it/en/university/humanities" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Health Science, University of Florence <a href="https://www.unifi.it/index.php?module=CMpro&func=viewpage&pageid=10305&newlang=eng" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Milan <a href="https://www.unimi.it/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Mathematics, Universita Degli Studi di Padova <a href="https://www.unipd.it/en/dm" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Pisa <a href="https://www.unipi.it/index.php/english" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Sapienza University of Rome <a href="https://www.uniroma1.it/en/pagina-strutturale/home" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Urbino <a href="https://www.uniurb.it/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Enviromental Sciences, Informatics and Statistics, Ca"Foscari University of Venice <a href="https://www.unive.it/pag/28183" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">QUEST - The Role of Science Communication; Venice International University <a href="https://www.univiu.org/focus-areas/science-communication-and-education/quest-the-role-of-science-communication" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Netherlands -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Netherlands"]
<div class="country">Netherlands</div>
<ul class="institutions">
  <li><span class="title">Amsterdam School of Communication Research <a href="https://ascor.uva.nl/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Amsterdam - ASCoR <a href="https://ascor.uva.nl/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">European Center for Economic Performance at CSA <a href="https://cep.lse.ac.uk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Centrum Wiskunde & Informatica (CWI) <a href="https://www.cwi.nl/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Maastricht University; Department of Data Science and Knowledge Engineering <a href="https://www.maastrichtuniversity.nl/research/department-data-science-and-knowledge-engineering-dke" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The Netherlands Organisation for Scientific Research NWO <a href="https://www.nwo.nl/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">National Institute for Public Health and the Environment (RIVM) <a href="https://www.rivm.nl/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Groningen <a href="https://www.rug.nl/?lang=en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Eindhoven University of Technology <a href="https://www.tue.nl/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Leiden University; Faculty of Humanities <a href="https://www.universiteitleiden.nl/en" target="_blank"><i class="fas fa-link"></i></a> <a href="https://www.universiteitleiden.nl/en/humanities" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Utrecht University <a href="https://www.uu.nl/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universiteit von Amsterdam <a href="https://www.uva.nl/en/about-the-uva/organisation/faculties/faculty-of-social-and-behavioural-sciences/faculty-of-social-and-behavioural-sciences.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Norway -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Norway"]
<div class="country">Norway</div>
<ul class="institutions">
  <li><span class="title">University of Agder <a href="https://www.uia.no/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Norway -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Norway"]
<div class="country">Norway</div>
<ul class="institutions">
  <li><span class="title">University of Agder <a href="https://www.uia.no/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Bergen, Department of Information Science and Media Studies <a href="https://www.uib.no/en/infomedia" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Poland -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Poland"]
<div class="country">Poland</div>
<ul class="institutions">
  <li><span class="title">SWPS University <a href="https://english.swps.pl/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">UTP University of Science and Technology Bydgoszcz <a href="https://incoming.utp.edu.pl/institutions/institution/1-bydgoszcz-university-science-and-technology" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Medical University of Gdansk <a href="https://mug.edu.pl/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Faculty of Electronics Wrocław University of Science and Technology <a href="https://pwr.edu.pl/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">ITTI Sp. z o.o. <a href="https://www.itti.com.pl/en/home/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Pedagogical University of Cracow <a href="https://www.up.krakow.pl/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Department of Teleinformatics Systems UTP University of Science and Technology <a href="https://www.utp.edu.my/Pages/Academic/Faculty-of-Science-and-Information-Technology/Department-of-Computer.aspx" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Portugal -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Portugal"]
<div class="country">Portugal</div>
<ul class="institutions">
  <li><span class="title">University of the Azores, School of Business and Economics, research center CEEAplA/ Advance-CSG <a href="https://ceeapla.uac.pt/index.php?static=ceeaplaa" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of the Azores <a href="https://international.uac.pt/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Porto <a href="https://sigarra.up.pt/up/pt/web_base.gera_pagina?p_pagina=home" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Instituto Superior Técnico (Univeristy Lisboa) <a href="https://tecnico.ulisboa.pt/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Beira Interior, MediaTrust.Lab <a href="https://www.facebook.com/mediatrust.lab/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">INESC-ID <a href="https://www.inesc-id.pt/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">CRACS-INESCTEC, Department of Computer Science, Faculty of Sciences; University of Porto <a href="https://www.inesctec.pt/en/centres/cracs" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Rádio e Televisão de Portugal <a href="https://www.rtp.pt/homepage-internacional/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University Beira Interior <a href="https://www.ubi.pt/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Philosophy and Politics, Department of Communication, University Beira Interior <a href="https://www.ubi.pt/Entidade/departamento_de_comunicacao_filosofia_e_politica" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universidade de Lisboa <a href="https://www.ulisboa.pt/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Qatar -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Qatar"]
<div class="country">Qatar</div>
<ul class="institutions">
  <li><span class="title">Hamad Bin Khalifa University <a href="https://www.hbku.edu.qa/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Qatar Computing Research Institute <a href="https://www.hbku.edu.qa/en/qcri/about" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Romania -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Romania"]
<div class="country">Romania</div>
<ul class="institutions">
  <li><span class="title">National University of Political Studies and Public Administration <a href="https://snspa.ro/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Transilvania University of Brasov <a href="https://www.unitbv.ro/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Russia -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="russia Moscow"]
<div class="country">Russia</div>
<ul class="institutions">
  <li><span class="title">Saint Petersburg State University <a href="https://english.spbu.ru/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Scotland -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Scotland"]
<div class="country">Scotland</div>
<ul class="institutions">
  <li><span class="title">University of Glasgow, IDA Section <a href="https://www.gla.ac.uk/schools/computing/research/researchsections/ida-section/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Singapore -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Singapore"]
<div class="country">Singapore</div>
<ul class="institutions">
  <li><span class="title">Nanyang Technological University <a href="https://www.ntu.edu.sg/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Slovakia -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Slovakia"]
<div class="country">Slovakia</div>
<ul class="institutions">
  <li><span class="title">University of Zilina <a href="https://fpedas.uniza.sk/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Kempelen Institute of Intelligent Technologies; Web & User Data Processing research group <a href="https://kinit.sk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Slovak Security Policy Institute <a href="https://slovaksecurity.org/o-nas/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Trnavská asociácia sluchovo postihnutých <a href="https://taspo.sk/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Comenius University Bratislava; Department of Journalism, Faculty of Arts <a href="https://uniba.sk/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Technical University of Košice <a href="https://www.tuke.sk/wps/portal/tuke/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8zifRxNTYy8TAx8_S3MjAwcAzxD_FxMfAP8TA30w_Wj9KOASgxwAEcD_eDUPP2C7LxyALAzStA!/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Ss. Cyril and Metod, Faculty of Mass Communication <a href="https://www.ucm.sk/en/faculty-of-mass-media-communication-admissions/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Constantine the Philosopher University in Nitra <a href="https://www.ukf.sk/en/university" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Ljubljana <a href="https://www.uni-lj.si/university/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Slovenia -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Slovenia"]
<div class="country">Slovenia</div>
<ul class="institutions">
  <li><span class="title">University of Ljubljana <a href="https://www.uni-lj.si/university/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Spain -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Spain"]
<div class="country">Spain</div>
<ul class="institutions">
  <li><span class="title">Institut Català de la Salut <a href="http://ics.gencat.cat/ca/inici" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Santiago de Compostela, Grupo Novos Medios <a href="http://novosmedios.gal/es/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Vigo, SEPCOM Research Group <a href="http://sepcom.webs.uvigo.es/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Technical University of Madrid, Computer Systems Engineering Department <a href="http://www.upm.es/internacional" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universitat Politécnica de Valéncia <a href="http://www.upv.es/es" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Digital Future Society <a href="https://digitalfuturesociety.com/call-tech-against-disinformation/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Fundació Institut Universitari per a la recerca a l"Atenció Primària de Salut Jordi Gol i Gurina <a href="https://idiapjgol.org/index.php/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Center for Internet Studies and Digital Life, School of Communication, University of Navarra <a href="https://networkofcenters.net/center/center-internet-studies-and-digital-life-school-communication-university-navarra" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Autonomous University of Barcelona <a href="https://portalrecerca.uab.cat/en/organisations/department-of-journalism-and-communications-studies" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Valencian Anti-Fraud Agency <a href="https://www.antifraucv.es/en/inicio-en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Barcelona Supercomputing Center <a href="https://www.bsc.es/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Escuela Técnica Superior de Ingeniería ICAI <a href="https://www.comillas.edu/icai" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Deusto <a href="https://www.deusto.es/cs/Satellite/deusto/en/university-deusto" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">BBVA Foundation <a href="https://www.fbbva.es/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">XAI-DisInfodemics: eXplainable AI for disinformation and conspiracy detection during infodemics, The Universitat Politècnica de València <a href="https://www.prhlt.upv.es/explainable-ai-for-disinformation-and-conspiracy-detection-during-infodemics-xai-disinfodemics/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universitat Politècnica de València, Pattern Recognition and Human Language Technology Research Center, Misinformation and Miscommunication in social media: FAKE news and HATE speech (MISMIS-FAKEnHATE) <a href="https://www.prhlt.upv.es/misinformation-and-miscommunication-in-social-media-fake-news-and-hate-speech-mismis-fakenhate/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">IBERIFIER, Iberian Digital Media Research and Fact-Checking Hub <a href="https://www.realinstitutoelcano.org/en/projects/iberifier/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Telefonica Research <a href="https://www.telefonica.com/en/sustainability-innovation/innovation/telefonica-research/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Autonomous University of Barcelona <a href="https://www.uab.cat/web/universitat-autonoma-de-barcelona-1345467954774.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Autonomous University of Madrid <a href="https://www.uam.es/uam/inicio" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Barcelona <a href="https://www.ub.edu/web/portal/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Carlos III University <a href="https://www.uc3m.es/Home" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universidad Complutense de Madrid <a href="https://www.ucm.es/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Granada <a href="https://www.ugr.es/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Malaga, Department of Journalism <a href="https://www.uma.es/departamento-de-periodismo?set_language=en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Valencian International University <a href="https://www.universidadviu.com/int/" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universitat Oberta de Catalunya <a href="https://www.uoc.edu/portal/en/index.html" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Universitat Ramón Llull <a href="https://www.url.edu/en" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Rovira i Virgili University <a href="https://www.urv.cat/en/" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Sweden -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Sweden"]
<div class="country">Sweden</div>
<ul class="institutions">
  <li><span class="title">Uppsala University Information Laboratory <a href="http://www.it.uu.se/research/group/infolab" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Uppsala University, Department of Mathematics <a href="https://katalog.uu.se/svensk-organisation-med-avstangd-niceuri-pa-engelska/?orgId=TM3" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Gothenburg <a href="https://www.gu.se/en/jmg" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The Labor Center for Economic and Public Policy at AAER <a href="https://aa-er.org/cli" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]

<!-- Sweden -->
[leaflet-marker svg color="#1a1a3a" background="transparent" iconClass="fas fa-3x fa-map-marker-alt" address="Sweden"]
<div class="country">Sweden</div>
<ul class="institutions">
  <li><span class="title">Uppsala University Information Laboratory <a href="http://www.it.uu.se/research/group/infolab" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">Uppsala University, Department of Mathematics <a href="https://katalog.uu.se/svensk-organisation-med-avstangd-niceuri-pa-engelska/?orgId=TM3" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">University of Gothenburg <a href="https://www.gu.se/en/jmg" target="_blank"><i class="fas fa-link"></i></a></span></li>
  <li><span class="title">The Labor Center for Economic and Public Policy at AAER <a href="https://aa-er.org/cli" target="_blank"><i class="fas fa-link"></i></a></span></li>
</ul>
[/leaflet-marker]
