.gem-team-style-1 .team-person {
  min-height: 450px;
}
.gem-team-style-1 .team-person .team-person-image {
  width: 150px;
}

.cta-text {
  font-size: 2.5rem;
}

p a {
  font-weight: 600;
  text-decoration: underline;
}
p a:hover {
  text-decoration: underline;
}
