.breadcrumbs-container .container .breadcrumbs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.breadcrumbs-container .container .breadcrumbs::-webkit-scrollbar {
  display: none;
}
.breadcrumbs-container .container .breadcrumbs > span {
  flex: 0 0 auto;
}

@media (min-width: 800px) {
  .breadcrumbs-container .container .breadcrumbs {
    justify-content: center;
  }
}
