.blog .post .item-post-container .item-post .post-title .entry-title .entry-title-date {
  font-size: 24px;
  line-height: 25px;
}
.blog .post .item-post-container .item-post .post-title .entry-title .light {
  font-size: 20px !important;
  line-height: 25px;
}

/*# sourceMappingURL=events.css.map */
