.custom-one-post a {
  font-size: 12px;
}
.custom-one-post a:hover {
  text-decoration: underline;
}
.custom-one-post .gem-button:hover {
  text-decoration: none;
}

.custom-post .gem-textbox {
  position: relative;
}
.custom-post .custom-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.custom-post .custom-category a {
  font-size: 12px;
}
.custom-post .custom-category a:hover {
  text-decoration: underline;
}
.custom-post .custom-title a span {
  transition: all 0.3s;
}
.custom-post .custom-title a:hover span {
  color: #ffcd05 !important;
}

.display-none {
  display: none !important;
}

.no-pagination .gem-pagination {
  display: none;
}

.cta-text {
  font-size: 2.5rem;
}

.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  padding-bottom: 5px !important;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab {
  flex: 0 0 auto !important;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a {
  color: #1a1a1a;
  padding: 0 17px !important;
  border-radius: 60px;
  font-weight: 600;
  font-family: "Montserrat";
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a:hover {
  background: rgba(26, 26, 58, 0.65);
  color: #ffcd05;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab.vc_active a {
  background: #1a1a3a;
  color: #ffcd05;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab:not(:last-of-type) {
  margin-right: 10px;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #f1f2f3;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list::-webkit-scrollbar {
  width: 12px;
  height: 9px;
  background-color: #d6d9db;
}
.fact-checks-tabs .vc_tta-tabs-container .vc_tta-tabs-list::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #ffcd05;
}

.custom-full-width .fullwidth-block .fullwidth-block-background {
  background-size: 100% 100px !important;
}

.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-animated-block .vc_gitem-zone {
  border-radius: 20px 20px 0 0;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone {
  background: #f0f3f2;
  border-radius: 0 0 0 20px;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 {
  min-height: 1px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_custom_heading h4 {
  font-size: 1.3em;
  line-height: 1.7em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_custom_heading.vc_gitem-post-data-source-post_excerpt {
  display: none;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_btn3-container .vc_btn3 {
  background-color: transparent;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 17px;
  border-radius: 0;
  border: solid 2px #1a1a3a;
  color: #1a1a3a;
}
.custom-post-grid .vc_grid-item .vc_grid-item-mini .vc_gitem-zone .vc_gitem-zone-mini .vc_gitem_row .vc_col-sm-12 .vc_btn3-container .vc_btn3:hover {
  background-color: #1a1a3a;
  color: #ffffff;
}
.custom-post-grid .title-h1 {
  color: #ffffff;
}
.custom-post-grid .title-h1 .line-style.dark::before {
  background: rgba(30, 38, 62, 0.4);
}

.btn-responsive .gem-button {
  font-size: 1vw;
}

.equal-height-columns .vc_column-inner .wpb_wrapper {
  height: 100%;
}
.equal-height-columns .vc_column-inner .wpb_wrapper .gem-textbox {
  height: 100%;
}
.equal-height-columns .vc_column-inner .wpb_wrapper .gem-textbox .gem-textbox-inner {
  height: 100%;
}
.equal-height-columns .vc_column-inner .wpb_wrapper .gem-textbox .gem-textbox-inner .gem-textbox-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.equal-height-columns .vc_column-inner .wpb_wrapper .gem-textbox .gem-textbox-inner .gem-textbox-content a {
  text-decoration: underline;
}
.equal-height-columns .vc_column-inner .wpb_wrapper .gem-textbox .gem-textbox-inner .gem-textbox-content a:hover {
  color: black;
  text-decoration-thickness: 2px;
}

.style-new article {
  background-size: contain !important;
  background-color: #e5e5e5;
}
.style-new article .gem-featured-posts-slide-item {
  position: relative;
  padding: 40px 0;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.style-new article .gem-featured-posts-slide-item .gem-featured-post-meta-categories {
  position: absolute;
  top: 40px;
  left: 0;
}
.style-new article .gem-featured-posts-slide-item .gem-featured-post-meta-categories span {
  background-color: #ffcd05;
  color: #1a1a3a;
  font-size: 23px;
  line-height: 34px;
  font-weight: bold;
  padding: 5px 20px;
}
.style-new article .gem-featured-posts-slide-item .gem-featured-post-title {
  background-color: #1a1a3a;
  padding: 10px;
}
.style-new article .gem-featured-posts-slide-item .gem-featured-post-title.title-h4 {
  font-size: 20px;
  line-height: 28px;
}

.custom-sidebar .small-custom-title .title-h4::before {
  background: #d9dfe1;
}

@media (max-width: 991.98px) {
  .custom-order-col .col-a {
    order: 2;
  }
  .custom-order-col .col-b {
    order: 1;
  }

  .btn-responsive .gem-button {
    font-size: 2.5vw;
  }

  .style-new article .gem-featured-posts-slide-item {
    position: relative;
  }
  .style-new article .gem-featured-posts-slide-item .gem-featured-post-meta-categories {
    position: absolute;
    left: 20px;
  }
}
