.ww-item.image {
  display: block;
  text-align: center;
}
.ww-item.image > img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.ww-item.image > .legend {
  display: block;
  text-align: center;
  margin: 0 0 1.1em;
}

#custom_recent_posts-1 .posts.styled .gem-pp-posts .gem-pp-posts-image {
  display: none;
}
#custom_recent_posts-1 .posts.styled .gem-pp-posts .gem-pp-posts-text .gem-pp-posts-item {
  margin-left: 0;
}
#custom_recent_posts-1 .posts.styled .gem-pp-posts .gem-pp-posts-text .gem-pp-posts-item a:hover {
  color: #1a1a3a;
}
#custom_recent_posts-1 .posts.styled .gem-pp-posts .gem-pp-posts-text .gem-pp-posts-date {
  display: none;
}

/*# sourceMappingURL=main.css.map */
