#site-header-wrapper #site-header .header-background .container-fullwidth {
  width: 85%;
}
#site-header-wrapper #site-header .header-background .container .primary-navigation #primary-menu.no-responsive > .menu-item > a,
#site-header-wrapper #site-header .header-background .container-fullwidth .primary-navigation #primary-menu.no-responsive > .menu-item > a {
  padding: 0 5px;
}

@media (max-width: 1319.98px) and (min-width: 1212.98px) {
  #site-header-wrapper #site-header .header-background .container-fullwidth {
    width: 100%;
  }
}
