.cta-text {
  font-size: 2.5rem;
}

.style-new .gem-featured-post-title {
  max-width: 80%;
}
.style-new .gem-featured-post-meta-categories span {
  background-color: #ffcd05 !important;
  color: #1a1a3a !important;
}
.style-new .gem-featured-post-meta-categories span a {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

/*# sourceMappingURL=pick-of-the-day.css.map */
