.custom-one-post a {
  font-size: 12px;
}
.custom-one-post a:hover {
  text-decoration: underline;
}
.custom-one-post .gem-button:hover {
  text-decoration: none;
}

.custom-post .gem-textbox {
  position: relative;
}
.custom-post .custom-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.custom-post .custom-category a {
  font-size: 12px;
}
.custom-post .custom-category a:hover {
  text-decoration: underline;
}
.custom-post .custom-title a span {
  transition: all 0.3s;
}
.custom-post .custom-title a:hover span {
  color: #ffcd05 !important;
}

.style-new .gem-featured-post-title {
  max-width: 80%;
}
.style-new .gem-featured-post-meta-categories span {
  background-color: #ffcd05 !important;
  color: #1a1a3a !important;
}
.style-new .gem-featured-post-meta-categories span a {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.display-none {
  display: none !important;
}

.no-pagination .gem-pagination {
  display: none;
}

/*# sourceMappingURL=research.css.map */
