.display-posts-listing:not(:last-of-type) {
  margin-bottom: 20px;
}
.display-posts-listing .listing-item .title {
  color: rgba(252, 252, 252, 0.75);
}
.display-posts-listing .listing-item .title:hover {
  color: rgba(255, 205, 5, 0.8);
}
