.d-none {
  display: none !important;
}

.vc_tta-container .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
