body {
  &.event-template-default {
    &.single {
      .block-content {
        padding-bottom: 50px;
        article {
          &.event {
            &.type-event {
              .entry-content {
                &.post-content {
                  // Featured image
                  .blog-post-image {
                    .post-featured-content {
                      img {
                        &.img-responsive {
                          width: 100%;
                          height: auto;
                          // aspect-ratio: 21/9;
                          object-fit: cover;
                          max-height: 450px;
                        }
                      }
                    }
                  }

                  // Events meta
                  .event-meta {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 2em;
                    margin-top: 2em;

                    .event-meta_when,
                    .event-meta_where {
                      display: flex;
                      gap: 10px;
                      justify-content: flex-start;
                      align-items: center;
                      align-self: stretch;
                      flex: 1;
                      min-height: 150px;
                      background: #f4f4f6;
                      padding: 20px;

                      .event-meta_when-icon,
                      .event-meta_where-icon {
                        .dashicons {
                          font-size: 40px;
                          width: 40px;
                          height: 40px;
                        }
                      }
                      .event-meta_when-text,
                      .event-meta_where-text {
                        span {
                          &:not(:last-of-type) {
                            margin-bottom: 10px;
                          }
                        }

                        .title,
                        .date,
                        .time,
                        .location {
                          display: block;
                        }

                        .title {
                          font-size: 18px;
                          line-height: 30px;
                          font-weight: 700;
                        }

                        .date,
                        .location {
                          font-size: 20px;
                          line-height: 24px;
                          font-weight: 500;
                        }

                        .time {
                          font-size: 18px;
                          line-height: 30px;
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .custom-footer {
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 8px;
          background: #ffcd05;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  body {
    &.event-template-default {
      &.single {
        .block-content {
          article {
            &.event {
              &.type-event {
                .entry-content {
                  &.post-content {
                    // Events meta
                    .event-meta {
                      flex-direction: column;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
