// Events
.block-content {
  padding-bottom: 110px !important;

  // Events grid
  .events-grid {
    display: grid;
    grid-gap: 1em;
    margin-bottom: 2em;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .event-col {
      width: 100%;
    }
  }

  // Event card
  .event {
    display: flex;
    flex-direction: column;
    border: solid thin rgba(244, 244, 246, 1);
    transition: all ease-in-out 0.3s;
    margin-bottom: 1.2em;
    height: 100%;
    background-color: #f4f4f6;

    &:hover {
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .event-header {
      a {
        display: block;
        position: relative;
        transition: all ease-in 0.5s;

        &::after {
          content: "";
          // background-color: red;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        img {
          &.img-responsive {
            height: 250px;
            width: 100%;
            aspect-ratio: 21/9;
            object-fit: cover;
          }
        }
      }
    }

    .event-body {
      padding: 20px;
      min-height: 250px;
      background: #ffffff;

      > div {
        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }

      .type {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
      }
      .title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
      }
      .excerpt {
        font-size: 20px;
        line-height: 25px;
        font-weight: 400;
      }
    }

    .event-footer {
      background: #f4f4f6;

      hr {
        width: calc(100% - 40px);
        margin-top: 8px;
        margin-bottom: 8px;
        border-color: #ffffff;
      }

      .event-when,
      .event-where {
        padding: 20px;

        > span {
          display: block;
          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }

          &.title,
          &.date,
          &.time,
          &.location {
            display: block;
          }

          &.title {
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
          }

          &.date,
          &.location {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
          }

          &.time {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
          }
        }
      }
    }
  }

  // Filters
  form {
    &#events-filter,
    &.events-form {
      background: #f4f7f6;
      padding: 40px;
      margin-bottom: 2em;

      input,
      select,
      button {
        &.form-control {
          display: block;
          width: 100%;
          height: 48px;
          padding: 0.375rem 0.75rem;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          border: 1px solid #ced4da;
          background-color: #fff;
          background-clip: padding-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;

          &.form-control-lg {
            min-height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem;
            font-size: 1.25em;
          }

          &.form-control-sm {
            min-height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem;
            font-size: 1em;
            border: none;
            background-color: transparent;
            width: auto;
            padding-right: 30px;
            margin: 0 0 0 auto;
          }

          &.form-control-end {
            margin: 0 0 0 auto;
          }

          &.search-wrapper {
            position: relative;
            padding-right: calc(1rem + 50px);
          }

          &.search-btn {
            position: absolute;
            width: auto;
            right: 20px;
            top: 0;
            padding: 0 20px;
            color: #ffffff;
            background: lighten($color: #1a1a3a, $amount: 10);
            transition: all ease-in-out 0.2s;

            &:hover {
              background: #1a1a3a;
            }
          }

          &.clear-btn {
            background: lighten($color: #1a1a3a, $amount: 10);
            color: #ffffff;
            transition: all ease-in-out 0.2s;

            &:hover {
              background: #1a1a3a;
            }
          }
        }
      }

      select {
        &.form-control {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right 0.75rem center;
          background-size: 16px 12px;

          option {
            min-height: calc(1.5em + 1rem + 2px);
            padding: 0.5rem 1rem;
            font-size: 1em;
          }
        }
      }

      .row {
        &.results {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  // Pagination
  .pagination {
    display: flex;
    justify-content: center;
    column-gap: 2px;

    .page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 1em;
      line-height: 1em;
      // padding: 0.5rem 1rem;
      border: solid 2px #99a9b5;
      color: #99a9b5;

      &:hover {
        border-color: #ffcd05;
        background: #ffcd05;
        color: #ffffff;
      }

      &.current {
        background: #99a9b5;
        color: #ffffff;

        &:hover {
          border-color: #99a9b5;
        }
      }

      &.dots {
        pointer-events: none;
      }
    }
  }
}

.custom-footer {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ffcd05;
    z-index: 1;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .block-content {
    form {
      &#events-filter {
        input {
          &:first-of-type {
            margin-bottom: 1em;
          }
        }

        button {
          &.clear-btn {
            margin-top: 1em;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .block-content {
    // Events grid
    .events-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
