p {
  font-size: 22px;
  line-height: 40px;
  font-weight: 200;
  color: #ffffff;
}

.gem-textbox {
  .gem-textbox-inner {
    .gem-textbox-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 330px;

      p {
        font-size: 18px;
        line-height: 20px;
        color: #fcfcfc;
      }

      .gem-button {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.gem-list {
  &.gem-list-type-checkbox {
    ul {
      li {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        padding-left: 12px;
        color: #83909a;

        &::before {
          color: #03b4fe;
          font-weight: bold;
        }
      }
    }
  }
}
