.custom-cta {
  &.btn-inline {
  }
}

.gem-list {
  &.gem-list-type-checkbox {
    ul {
      li {
        &::before {
          color: #03b4fe;
          font-weight: bold;
        }
      }
    }
  }
}
