.custom-row {
  display: flex;
  justify-content: center;

  .portfolio {
    .portfolio-set {
      .portfolio-item {
        .title {
          .title-h4 {
            font-size: 24px;
            line-height: 30px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
